- if current_user.nil?
  .row.text-center
    = "Welcome! Please login to continue."
- else
  .row
    .col-xs-12.text-left
      = "Welcome! #{current_user.email}"
  .row
    %ul.row
      %li.col-xs-4
        = link_to "Mail", mail_path
      %li.col-xs-4
        = "Drive"
      %li.col-xs-4
        = "Calendar"