.row.box.pointer.mail-label
  .col-xs-6.text-left.cut-overflow.label-name.small{class: "label-#{label.unique_id}", title: label.name, data: {"unique-id" => label.unique_id}}
    = label.name
  .col-xs-6.text-right.label-count.small.cut-overflow{class: "label-#{label.unique_id}", data: {"unique-id" => label.unique_id}}
    = label.messages_total
%script{type: "text/javascript"}
  = "labelCount['#{label.unique_id}'] = #{label.messages(user_id: current_user.id).count}"