.row.messages-pagination
  .col-xs-2
  .col-xs-8.text-center
    - 1.step(total_pages,1).to_a.each do |page_num|
      - selected_class = page_num.to_i == current_page.to_i ? 'selected' : ''
      .page.pointer{class: selected_class}
        = page_num
  .col-xs-2