.container
  .row.message-body
    != content.gsub("\n", "<br/>")
  - if attachments.length > 0
    .row
      .col-xs-12.text-left
        = "Attachments"
    .row.attachments
      .col-xs-6
        - attachments.each do |attachment|
          .row.box.light
            .col-xs-12
              = link_to attachment[:filename], attachment[:url], {target: "_blank"}
      .col-xs-6