.row.box.message-entry.pointer{data: {message_id: "#{message[:id]}"}}
  .col-xs-2.message-from.cut-overflow
    = message[:from]
  .col-xs-6.message-subject.cut-overflow
    = message[:subject]
  .col-xs-4.message-date.cut-overflow
    = format_time(message[:date])