#messageViewModal.modal.fade
  .modal-dialog
    .modal-content#messageView
      .modal-header.header.modal-title
      .modal-body.content
      .modal-footer
        .row.h5.text-right
          .col-xs-9
          .col-xs-2.btn.btn-primary{data: {dismiss: "modal"}}
            = "Close"
          .col-xs-1