.row.messages-list
  - if messages.empty?
    .row
      .col-xs-12.text-center.medium
        = "No messages here! You may need to sync with the server, check your notification area."
  - else
    - messages.each do |message|
      = render partial: 'message_entry', locals: { message: message }
    = render partial: 'message_pages', locals: { current_page: page_no, total_pages: total_pages }
