= javascript_include_tag "/js/label.js"
= javascript_include_tag "/js/mail.js"
= javascript_include_tag "/js/queue.js"
.row.bg-info
  .col-xs-2.bg-success
    .row.h4
      .col-xs-6.text-left
        = "Labels"
      .col-xs-6.text-right.pointer
        %div.glyphicon.glyphicon-refresh.label-refresh-count
    = render partial: 'label_list', locals: {labels: @labels }
  .col-xs-10
    .row.h4
      .col-xs-6.text-left
        = "Messages"
      .col-xs-6.text-right
        %div.glyphicon.glyphicon-refresh.messages-refresh
    = render partial: 'message_list', locals: { messages: @messages }