/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: $font-family-monospace;
}

.cut-overflow {
  @include text-overflow();
}

.box {
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
}

.box.light {
  border: 1px solid #555;
}

.pointer {
  cursor: pointer;
}

.label-refresh-count {
  font-size: 0.7em;
}

.green-circle {
  border: 1px solid green;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}

.green-text {
  color: green;
}

.red-circle {
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}

.red-text {
  color: red;
}

@keyframes blink {
  0% { color  : red; }
  49% { color : red; }
  50% { color : blue }
  100% { color: blue; }
}

#queue.blink {
  animation: blink 2s linear infinite;
}

#notify.blink {
  animation: blink 2s linear infinite;
}

.modal {
  overflow-y: hidden;
}

#messageViewModal > .modal-dialog {
  width: 80%;
}

.modal-content {
  overflow-y: scroll;
}

.page {
  display: inline-block;
  margin: 2px auto;
  border: 1px solid grey;
  padding: 2px 4px;
  background-color: #ffeeff;
}

.page.selected {
  background-color: #ccff00;
}

.mail-label.selected {
  background-color: #ffeeff;
}