%i#queue.fa.fa-cloud-download.pointer
= "|"
#queueModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .row.h5.text-left.modal-title
          .col-xs-12
            = "Background Sync"
      .modal-body
        .queue
      .modal-footer
        .row.h5.text-right
          .col-xs-9
          .col-xs-2.btn.btn-primary{data: {dismiss: "modal"}}
            = "Close"
          .col-xs-1