= javascript_include_tag "/js/notify.js"
%i#notify.fa.fa-info-circle.pointer
= "|"
#notificationsModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .row.h5.text-left.modal-title
          .col-xs-12
            = "Notifications"
      .modal-body
        .notifications
      .modal-footer
        .row.h5.text-right
          .col-xs-9
          .col-xs-2.btn.btn-primary{data: {dismiss: "modal"}}
            = "Close"
          .col-xs-1
%script#notificationTemplate{type: "text/html"}
  .row.box.small{data: {class: 'notificationId'}}
    .row
      .col-xs-12.text-left{data: {content: "message", class: "notificationId", title: "message"}}
    .row
      .col-xs-9
      .col-xs-1.pointer.green-circle.text-center.green-text.confirm{data: {class: "notificationId"}}
        %i.fa.fa-check
      .col-xs-1.pointer.red-circle.text-center.red-text.reject{data: {class: "notificationId"}}
        %i.fa.fa-times
          .hidden{data: {content: 'notificationId'}}