!!!
%html
  %head
    %title Gbackup
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', media: 'all'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/js/jquery.loadTemplate-1.4.5.min.js'
    = javascript_include_tag '/js/jquery.cookie-1.4.1.min.js'
    = javascript_include_tag '/js/cookie.js'
    = csrf_meta_tags
  %body.container
    .row.bg-warning.h3.header
      .col-xs-4.h4.text-left
        = link_to "GBackup", root_path
      .col-xs-2
      .col-xs-6.h4.text-right
        - if current_user.nil?
          = link_to "Login", new_user_session_path, {class: 'text-danger'}
          = "|"
          = link_to "G+", user_omniauth_authorize_path(:google_oauth2), {class: 'text-danger'}
        - else
          = render partial: 'background'
          = render partial: 'notification'
          = current_user.email
          = "|"
          = link_to "Log Out", destroy_user_session_path, method: :delete
    .container
      .row
        = yield
    .row.bg-warning.h3.footer.bottom
      .col-xs-12.h4.text-center
        = "GBackup ©"
    = render partial: 'mail/message_view'